 @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
 *, ::before, ::after { box-sizing: border-box; }
 body{
 	font-family:'Quicksand', sans-serif;
 	text-align:center;
 	line-height:1.5em;
 	
 }

h1,h2,h3,h4,h5{color: #5bc0de; }
.space-wrapper{
		margin-top: 30px;
	}

  .productcont {
  	display: inline-block; 
  }
  .product {
    margin:10px 0px;
  }
  .card{
    padding: 0px!important;
    border:1px solid #5bc0de;
  }
  .product-inner{
  	border-radius:5px;
  }
 .main-content{
 	padding-left: 10px;
 	padding-right: 10px;
 }

 .product input[type=checkbox] {
 	float: left;
 	top: 0;
 }

 /* Scroll to Top */
#scroll-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.text-upper{
	text-align: left;text-transform: uppercase;
}

.form-width{
	width: 750px !important;
}

.error-display {
    color: red;
    font-size: 90%;
}
.alert-alert{
  border: 1px solid #fff;
  padding: 10px;
  color: #000;
  background-color: #fff;
}
.alert-alert p{text-align: left !important;}
@media screen and (max-width: 775px) {
.form-width{
	width: 90% !important;
}
}